<div lang="ar" dir="rtl"><p>This text has lang="ar" dir="rtl". Some of the text may be <em>emphasised</em> and some it might even be <strong>strongly emphasised</strong>. Occasionally <q>quoted text</q> may be found within a paragraph &hellip;and of course <a href="#">a link</a> may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.</p>
<p>العربيَّة والتي أصبحت في المجال العام. إنَّ هذا المشروع الرَّقمي الهائل مُمَّول من قِبل جامعة نيويورك أبو ظبي، ويهدف إلى عرض ما يقارب خمسة عشرة ألف كتاب من قِبل جامعة نيويورك <a href="#">والجامعات الأخرى المشاركة</a> خلال مدة خمس سنوات من العمل. إنَّ جامعة نيويورك والجامعات الأخرى المساهمة ستقدم أنواع مختلفة من الكتب في مجالات الأدب و التجارة والعلوم وغيرها من مقتنياتها من الكتب العربيَّة. </p></div>