.flexitem {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  margin-top: 0px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  .flexcol {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    // background-color: green;
    &.gappy {
      background-color: #ddd;
      -ms-flex: 1 0 10%;
      -webkit-flex: 1 0 10%;
      flex: 1 0 10%;
      max-width: 50px;
    }
    &.thumbsx {
      max-width: 95px;
      -ms-flex: 1 0 10%;
      -webkit-flex: 1 0 10%;
      flex: 1 0 10%;
      img {
        width: 90%;
      }
      &[dir="rtl"] a {
        padding-left:10px;
        img {
          // float:right;
        }
      }
    }
    &.metax {
      // max-width: 50px;
      -ms-flex: 1 0 20%;
      -webkit-flex: 1 0 20%;
      flex: 1 0 20%;
      background-color: #ccc;
    }
  }
  margin-bottom: 10px;
}