.item-list {
  clear: both;
  margin-top: .5em;
  font-family: $font-family-serif;
  width: 100%;
  border-collapse: separate;
  border-top: 1px solid #DECCBF;
  border-bottom: 1px solid #ffffff;
}

.item {
  clear: both;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #DECCBF;
  //border-top: 1px solid #FCF7F0;
  border-top: 1px solid #FFFFFF;
  font-size: 1rem;
  @media (min-width: $grid-float-breakpoint) {
    border-bottom: 1px solid #DECCBF;
  }
  > div {
    &.l-hold {
      float: left;
      padding-top: 20px;
      width: 100%;
      > [lang="en"] {
        margin-left: 19%;
        border-bottom: 1px solid #DECCBF;
        padding-bottom: 20px;
      }
      .thumbs {
        padding: 0;
        width: 15%;
        float: left;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &[lang="ar"] {
      border-top: 1px solid #FCF7F0;
      margin-left: 19%;
      padding: 20px 0;
      clear: left;
      text-align: right;
      span {
        word-wrap: break-word;
      }
    }
    @media (min-width: $grid-float-breakpoint) {
      &.l-hold {
        width: 56%;
        > [lang="en"] {
          margin-left: 0;
          width: 70%;
          border-bottom: none;
        }
        .thumbs {
          float: right;
          width: 17%;
          text-align: right;
        }
      }
      &[lang="ar"] {
        clear: none;
        margin-left: 0;
        padding: 20px 0px 20px 0;
        float: right;
        width: 37%;
        border-top: none;
        line-height: 1.9;
      }
    }
  }
  [lang="ar"] .md_subjects {
    font-family: $font-family-serif !important;
    line-height: 1.25;
    margin: .65rem 0;
  }
  [lang="en"] .md_subjects, [lang="en"] .md_authors {
    line-height: 1.25;
    margin: .15rem 0;
  }
  .md_partner {
    display: inline-block;
    font-family: $font-family-serif !important;
    white-space: nowrap;
  }
  .md_title {
    // font-size: 1.15rem;
    line-height: 1.25;
    margin-bottom: 5px;
    a:link,
    a:visited {
      // font-weight: normal;
      font-size: 1.3rem;
    }
  }
  .md_label {
    font-weight: bold !important;
  }
  span.one_subject {
    &::after {
      content: ", ";
      margin-right: .2em;
    }
    &:last-child::after {
      content: "";
      margin-right: 0em;
    }
  }
  // for multiple authors
  span.one_author {
    &::after {
      content: ", ";
      margin-right: .2em;
    }
    &:last-child::after {
      content: "";
      margin-right: 0em;
    }
  }
}