.header-wrapper {
  background-color: $brand-primary;
  color: #fff;
  @include box-shadow(0px 0px 10px 5px rgba(110, 102, 93, 0.3));
  @include box-shadow(0px 0px 10px 5px #deccbf);
  width: 100%;
  overflow: auto;
  background-image: url(/aco/images/bg_pattern.svg);
  background-repeat:repeat;
  background-size: 75px;
}

.header-main {
  // Masthead
  padding-top: 13px;
  padding-bottom: 13px;
  display: table !important;
  width: 100%;

  // for mobile, they are stacked
  > div {
    &[lang="en"] {
      display: table-header-group;
    }
    &[lang="ar"] {
      display: table-footer-group;
    }
  }
  @media (min-width: $grid-float-breakpoint) {
    // full width, horizontally arranged
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(/aco/images/flower.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 77px;
    > div[lang="en"],
    > div[lang="ar"] {
      display: table-cell;
      vertical-align: bottom;
    }
  }
  .sitename {
    margin: 0;
    line-height: 1;
    a {
      color: #fff;
      line-height: 1.5;
      text-shadow: 0px 0px 5px #130E2F;
      display: block;
      font-style: normal;
    }
    &[lang="en"] a {
      letter-spacing: normal;
      font-size: 20px;
      font-size: 1.4rem;
      // extra light
      font-family: 'Gotham 2r', 'Gotham A', 'Gotham B', Helvetica, sans-serif;
      font-weight: 200;
      letter-spacing: .5px;
      font-weight: 300;
      text-transform: uppercase;
      @media (max-width: $screen-xs) {
        font-size: 1.3rem;
      }
      @media (min-width: $grid-float-breakpoint) {
        font-size: 1.5rem;
        line-height: 1;
      }
      @media (max-width: 400px) {
        font-size: 1rem;
        padding-bottom: 5px;
      }
    }
    &[lang="ar"] {
      /* tweaking the baseline */
      @media (min-width: $grid-float-breakpoint) {
        margin-bottom: -3px;
      }
      a {
        letter-spacing: normal;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        @media (max-width: $screen-xs) {
          font-size: 1.3rem;
        }
        @media (min-width: $grid-float-breakpoint) {
          // full size
          font-size: 2.3rem;
          line-height: 1;
          text-align: right;
        }
        @media (max-width: 400px) {
          font-size: 1.2rem;
        }
      }
    }
    a:hover {
      text-decoration: none;
      text-shadow: 1px 0px 0px #FF9C00, -1px 0px 0px #FF9C00, 0px 1px 0px #FF9C00, 0px -1px 0px #FF9C00;
      text-shadow: 0px 0px 1px #fff, 1px 0px 0px #FF9C00;
      // text-shadow: 1px 0px 0px #0000ff, -1px 0px 0px #FF9C00, 0px 1px 0px #0000ff, 0px -1px 0px #FF9C00;
    }
  }
}