<!doctype html>
<html lang="en">
<head>{{> head }}</head>
<body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" class="{{bodyClass}}">
  {{> header }}
  <main class="main container-fluid" role="main">
    {{#title}}
      <h2 class="page-title" lang="{{languageCode}}" dir="{{languageDir}}"><span>{{{html}}}</span></h2>
    {{/title}}
    {{#content}}
      {{#about}}
        <div class="col {{languageClass}}" lang="{{languageCode}}" dir="{{languageDir}}">
          <h3>{{label}}</h3>
          <p>{{{body}}}</p>
        </div>
      {{/about}}
      {{#main}}
        <div class="col {{class}}" lang="{{language_code}}" dir="{{language_dir}}">
          {{{html}}}
        </div>
      {{/main}}
    {{/content}}
  </main>
  {{> footer }}
  {{{closure}}}
</body>
</html>