<!doctype html>
<html>
<head>{{> head }}</head>
<body data-app="{{ appUrl }}">
  {{> header }}
  <iframe id="book" name="book" data-sourceUrl="{{ sourceUrl }}" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
  {{> header }}
  {{{ javascript }}}
</body>
</html>