<!doctype html>
<html lang="en">
<head>{{> head }}</head>
<body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" class="{{bodyClass}}">
  {{> header }}
  <main class="main container-fluid" role="main">
    <header class="results-header">
      {{#title}}
        <h2 class="page-title" lang="{{language_code}}" dir="{{language_dir}}"><span>{{{html}}}</span></h2>
      {{/title}}
    </header>
    {{#content}}
      {{#items}}
        <div class="widget items" data-name="items" data-rows="{{rows}}" data-source="{{source}}" data-fl="{{fl}}" {{#fq}} data-fq-{{filter}}="{{value}}" {{/fq}} data-script='{ "js" : [ "handlebarsHelpers.min.js", "browse.min.js" ], "hbs" : [ { "template" : "items.hbs", "id" : "items" } ] }'></div>
        <div class="text-center">
          <div id="paginator" class="pagination"></div>
        </div>
      {{/items}}
    {{/content}}
  </main>
  {{> footer }}
  {{{closure}}}
</body>
</html>