<select id="browse-select">
  <option value="Sort by / فرز حسب">Sort by / فرز حسب</option>
  <option value="Arabic / عربي">Title in Arabic / عربي</option>
  <option value="Title in English / انجليزي"> Title in English / انجليزي نجليزينجليزي</option>
  <option value="Date Newest / الأحدث">Publication Date Newest to Oldest / الأحدث الأحدث الأحدث الأحدث</option>
</select>
