<!doctype html>
<html>
<head>{{> head }}</head>
<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}">
  {{> header }}
  <h2>{{ title }}</h2>
  <span><a href="{{ appUrl }}" title="{{ appName }}">{{ appName }}</a> &gt; {{ title }}</span>
  {{> partners }}
  {{> footer }}
</body>
</html>