{{#featured}}
    <div class="featured" lang="{{language_code}}" dir="{{language_dir}}">
      <h3>{{title}}</h3>
      {{#widgets}}
        {{> recentlyAddedTitles }}
      {{/widgets}}
    </div>
{{/featured}}