{{#featuredSubjects}}
<ul>
  <li>
    <h4>{{title}}</h4>
    <ul class="subjectList">
      {{#data}}
        <li><a href="{{appUrl}}/subject/{{tid}}">{{term}}</a></li>      
      {{/data}}
      <li><a href="{{appUrl}}/subject" class="readmore">all subjects</a></li>
    </ul>
  </li>
</ul>
{{/featuredSubjects}}