<div class="feedback">
    <div dir="rtl"><a href="https://nyu.qualtrics.com/jfe/form/SV_7X5LdFZDVpnj88J?Q_Language=AR" class="external" target="_blank">أسئلة؟ طلبات؟ الرجاء اعلامنا</a></div>
    <div dir="ltr"><a  href="https://nyu.qualtrics.com/jfe/form/SV_7X5LdFZDVpnj88J?Q_Language=EN" class="external" target="_blank">Questions? Requests? Please let us know.</a></div>
</div>