<footer class="footer-main  container-fluid">
	<div class="partners">Arabic Collections Online is organized by NYU in partnership with <a href="#">Columbia</a>, <a href="#">Cornell</a>, <a href="#">Princeton</a>, and the <a href="#">American University of Beirut</a>.</div>
	<div class="logo-hold">
		<div class="logo nyu"><img src="/aco/imgs/logos/nyu_short_color.png"  /></div>
		<div class="logo columbia"><img src="/aco/imgs/logos/nyuad.png"  /></div>
		<div class="logo columbia"><img src="/aco/imgs/logos/columbia.png"  /></div>
		<div class="logo cornell"><img src="/aco/imgs/logos/cornell.png"  /></div>
		<div class="logo princeton"><img src="/aco/imgs/logos/princeton.png"  /></div>
		<div class="logo aub"><img src="/aco/imgs/logos/aub.png"  ></div>
	</div>
	<div class="credits">NYU | <a href="#">Digital Library Technology Services</a></div>
</footer>