<!doctype html>
<html>
  <head>
    {{> head }}
  </head>
  <body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" class="{{bodyClass}}">
    {{> header }}
    {{#content}}
    <main class="main container-fluid" role="main">
      {{#intro}}
        <div class="intro" lang="{{language_code}}" dir="{{language_dir}}">
          <h2>{{title}}</h2>
          {{{html}}}
        </div>
      {{/intro}}
      {{> featured }}
    </main>
    {{/content}}    
    {{> footer }}
  </body>
</html>