{{#content}}
{{#featured}}
{{#raw}}
{{#data}}
{{#response}}
{{#docs}}
<div class="flexrow item">
  <div class="flexcol" lang="en" dir="ltr">
    <div class="meta" lang="en" dir="ltr">
      <div class="md_title">
        <a href="{{../../../../../../appUrl}}/book/{{ss_book_identifier}}/1">{{ss_title_long}}</a>
      </div>
      <div class="md_author">
        <span class="md_label">Author:</span>
        {{ifempty sm_author "n.a."}}
        {{#each sm_author}}
        <span class="one_author"><a class="md_author"
            href="{{../../../../../../../appUrl}}/search/?author={{this}}">{{this}}</a></span>
        {{/each}}
      </div>
      <div class="md_category">
        <span class="md_label">Category:</span>
        {{ifempty sm_field_topic "n.a."}}
        {{#each sm_field_topic}}
        <span class="one_category"><a class="md_category"
            href="{{../../../../../../../appUrl}}/search?category={{this}}&scope=matches">{{this}}</a></span>
        {{/each}}
      </div>
      <div class="md_publisher">
        <span class="md_label">Publisher:</span>
        {{#if sm_publisher}}
        {{#each sm_publisher}}
        {{#if this}}
        <span><a class="md_publisher"
            href="{{../../../../../../../appUrl}}/search/?publisher={{this}}">{{this}}</a></span>
        {{else}}
        n.p.
        {{/if}}
        {{/each}}
        {{/if}}
      </div>
      {{#if ss_publocation}}
      <div class="md_pubplace">
        <span class="md_label">Place of Publication:</span>
        <span class="publoc">
          <a class="md_pubplace"
            href="{{../../../../../../appUrl}}/search/?pubplace={{ss_publocation}}">{{ss_publocation}}</a>
        </span>
      </div>
      {{/if}}
      {{#if ss_pubdate}}
      <div class="md_pubdate">
        <span class="md_label">Date of Publication:</span>
        <span class="pubdate">{{ss_pubdate}}</span>
      </div>
      {{/if}}
      {{#if zm_subject}}
      <div class="md_subjects">
        <span class="md_label">Subjects:</span>
        {{#each zm_subject}}
        {{#json this}}
        <span class="one_subject"><a class="md_subject" href="{{../../../../../../../../appUrl}}/search/?subject={{name}}">{{name}}</a></span>
        {{/json}}
        {{/each}}
      </div>
      {{/if}}
      <div class="md_partner">
        <span class="md_label">Provider:</span>
        {{#each zm_partner}}
        {{#json this}}
        <a class="md_provider" data-code="{{code}}" data-id="{{nid}}"
          href="{{../../../../../../../../appUrl}}/search/?provider={{name}}">{{name}}</a>
        {{/json}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="thumbholder flexcol">
    <div class="thumbs">
      <div class="read-online">
        <a class="read-online" href="{{../../../../../../appUrl}}/book/{{ss_book_identifier}}/1">
          <div lang="ar" class="ar_callout" dir="rtl">شاهِد فوراً</div>
          <div dir="ltr" lang="en">Read Online</div>
        </a>
      </div>
      <div class="download-pdfs">
        <div class="download-pdf-button">
          <a class="pdf-button" href="#">
            <div dir="rtl" lang="ar">تحميل دِقّة منخفضة</div>
            <div dir="ltr" lang="en">Low-resolution PDF 
            {{#each zm_pdf_lo}}
              {{#json this}}
                <span class="fs">({{humanFileSize filesize}})</span>
              {{/json}}
            {{/each}}
            </div>
          </a>
          <a class="pdf-button" href="#">
            <div dir="rtl" lang="ar">تحميل دِقّة عالية</div>
            <div dir="ltr" lang="en">High-resolution PDF 
            {{#each zm_pdf_hi}}
              {{#json this}}
                <span class="fs">({{humanFileSize filesize}})</span>
              {{/json}}
            {{/each}}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="flexcol" lang="ar" dir="rtl">
    <div class="meta" lang="ar" dir="rtl">
      <div class="md_title" dir="rtl" lang="ar">
        <span><a
            href="{{../../../../../../appUrl}}/book/{{ss_book_identifier}}/1?lang=ar">{{ss_ar_title_long}}</a></span>
      </div>
      <div class="md_authors">
        <span class="md_label">الكاتب:</span>
        {{ifempty sm_ar_author "n.a."}}
        {{#each sm_ar_author}}
        <span class="one_author"><a class="md_author"
            href="{{../../../../../../../appUrl}}/search/?author={{this}}">{{this}}</a></span>
        {{/each}}
      </div>
      <div class="md_category">
        <span class="md_label">فئة الموضوع:</span>
        {{ifempty sm_ar_topic "n.a."}}
        {{#each sm_ar_topic}}
        <span class="one_category"><a class="md_category"
            href="{{../../../../../../../appUrl}}/search?category={{this}}&scope=matches">{{this}}</a></span>
        {{/each}}
      </div>
      <div class="md_publisher">
        <span class="md_label">الناشر:</span>
        {{ifempty sm_ar_publisher "n.p."}}
        {{#each sm_ar_publisher}}
        <a class="md_publisher"
          href="{{../../../../../../../appUrl}}/search/?publisher={{this}}"><span>{{this}}</span></a>
        {{/each}}
      </div>
      <div class="md_publocation">
        <span class="md_label">مكان النشر:</span>
        {{ifempty ss_ar_publication_location "n.p."}}
        <a class="md_pubplace"
          href="{{../../../../../../appUrl}}/search/?pubplace={{ss_ar_publication_location}}"><span>{{ss_ar_publication_location}}</span></a>
      </div>
      <div class="md_pubdate">
        <span class="md_label">تاريخ النشر:</span>
        {{ifempty ss_pubdate "n.d."}}
        <span dir="ltr" lang="en">{{ss_pubdate}}</span>
      </div>
      <div class="md_download-pdfs dl-hi-res" dir="rtl" lang="ar">
        <span class="md_label">تحميل الكتاب (پي دي اف):</span>
        <a class="md_download-pdfs-link" href="{{../app.appRoot}}"><span>دِقّة عالية</span> <span>(497 MB)</span></a>
      </div>
      <div class="md_download-pdfs  dl-low-res" dir="rtl" lang="ar">
        <span class="md_label">تحميل الكتاب (پي دي اف):</span>
        <a class="md_download-pdfs-link" href="{{../app.appRoot}}"><span>دِقّة منخفضة</span> <span>(31 MB)</span></a>
      </div>
    </div>
  </div>
</div>
{{/docs}}
{{/response}}
{{/data}}
{{/raw}}
{{/featured}}
{{/content}}