<!doctype html>
<html lang="en" prefix="og:http://ogp.me/ns#">
<head>
  {{>head}}
</head>
<body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" class="{{bodyClass}}">
  {{>header}}
  <main class="main container-fluid" role="main">
    {{>search_form_adv}}
    {{#content}}
      {{#main}}
        <div class="col {{cssClass}}" lang="{{languageCode}}" dir="{{languageDir}}">
          <p>{{{text}}}</p>
        </div>
      {{/main}}
      {{>featured ..}}
    {{/content}}
  </main>
  {{>footer}}
  {{{closure}}}
</body>
</html>