<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{appName}} : {{title}}</title>
<link type="text/css" rel="stylesheet" href="{{ appUrl }}/css/style.css">
<script src="http://yui.yahooapis.com/3.15.0/build/yui/yui-min.js"></script>

<script src="{{ appUrl }}/js/commons.min.js" defer></script>
<script src="{{ appUrl }}/js/search.min.js" defer></script>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<style>
@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/aco/js/bootstrap.js" ></script>