<title>{{appName}}{{#if htmltitle}}: {{htmltitle}}{{/if}}</title>
{{#if ga}}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBYLT4NB1C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-VBYLT4NB1C');
</script>
{{/if}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lte IE 9]>
	<script>
		window.location.replace("{{appUrl}}/upgrade.html");
	</script>
<![endif]-->
{{> openGraphMetaData }}
<link href="//cloud.typography.com/7436432/628786/css/fonts.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
<script>
WebFont.load({
  google: {
    families: ['Amiri:400,700','Open Sans:400,300,700']
  },
  timeout: 6000
});
</script>
<link rel="apple-touch-icon" href="{{appUrl}}/images/apple-touch-icon.png">
<link rel="shortcut icon" href="{{appUrl}}/images/favicon.ico" />
{{{css}}}
<script src="https://yui-s.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
<script src="https://yui-s.yahooapis.com/combo?gallery-2014.07.31-18-26/build/gallery-paginator/gallery-paginator-min.js"></script>
