<title>{{appName}}{{#if htmltitle}}: {{htmltitle}}{{/if}}</title>
{{#if ga}}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TRVMLPF');</script>
<!-- End Google Tag Manager -->
{{/if}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lte IE 9]>
	<script>
		window.location.replace("{{appUrl}}/upgrade.html");
	</script>
<![endif]-->
{{> openGraphMetaData }}
<link href="//cloud.typography.com/7436432/628786/css/fonts.css" rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
<script>
WebFont.load({
    google: {
      families: ['Amiri:400,700','Open Sans:400,300,700']
    },
    timeout: 6000
});
</script>
<link rel="apple-touch-icon" href="{{appUrl}}/images/apple-touch-icon.png">
<link rel="shortcut icon" href="{{appUrl}}/images/favicon.ico" />
{{{css}}}
<script src="https://yui-s.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
 <script src="https://yui-s.yahooapis.com/combo?gallery-2014.07.31-18-26/build/gallery-paginator/gallery-paginator-min.js"></script>
{{#if ga}}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
{ (i[r].q=i[r].q||[]).push(arguments)}
,i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-55585548-1', 'auto');
ga("set", "anonymizeIp", true);
ga('send', 'pageview');
</script>
{{/if}}
