<div class="header-wrapper">
  <header class="header-main container-fluid" role="banner">
    <hgroup lang="en"><h1 class="sitename" lang="en"><a href="{{appUrl}}/">{{appName}}</a></h1></hgroup>
    <hgroup lang="ar"><h1 class="sitename" lang="ar" ><a href="{{appUrl}}/">المجموعات العربية على الانترنت</a></h1></hgroup>
  </header>
</div>
{{> nav }}