<div>
  <a href="{{appUrl}}/">{{appName}}</a>
  <ul>
    <li><a href="{{appUrl}}/">Home</a></li>
    <li><a href="{{appUrl}}/about">About</a></li>
    <li><a href="{{appUrl}}/search">Search</a></li>
    <li><a href="{{appUrl}}/browse">Browse</a></li>
    <li><a href="{{appUrl}}/collections">Collections</a></li>
    <li><a href="{{appUrl}}/series">Series</a></li>
  </ul>
</div>