<div class="widget" data-name="items" data-lazyLoad="0" data-rows="10" data-paginator="0" data-script='{ "js" : [ "handlebarsHelpers.min.js", "items.min.js" ], "hbs" : [ { "items" : "items.hbs" }, { "paginator" : "paginator.hbs" } ] }'></div>