<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" overflow="visible" xml:space="preserve">
          <defs> </defs>
          <rect y="3" fill="#FFFFFF" width="18" height="3"></rect>
          <rect y="8" fill="#FFFFFF" width="18" height="3"></rect>
          <rect y="13" fill="#FFFFFF" width="18" height="3"></rect>
        </svg> 
        <span class="sr-only">Toggle navigation</span> 
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      {{#menus}}
          <li><a href="{{ appUrl }}{{ route }}" class="{{ page }}">{{ label }}</a></li>
      {{/menus}}      
      </ul>
      {{> search_form }} </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>