 <button type="button" class="navbar-toggle collapsed widget" data-toggle="collapse" aria-label="Toggle Navigation" data-name="navButton" data-script='{ "js" : [ "navButton.min.js" ] }'>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="18" height="18" viewBox="0 0 18 18">
    <rect y="3" fill="#FFFFFF" width="18" height="3"></rect>
    <rect y="8" fill="#FFFFFF" width="18" height="3"></rect>
    <rect y="13" fill="#FFFFFF" width="18" height="3"></rect>
  </svg>
</button>