<div class="col-l" lang="en" dir="ltr">
  <p>Sorry, no results found.</p>
  <p>Try a different term.</p>
</div>
<div class="col-r" lang="ar" dir="rtl">
  <p>عذراً، لا توجد نتائج.</p>
  <p>إبحث عن مصطلح آخر.</p>
</div>