 <meta property="og:site_name" content="{{appName}}"/>
 <meta property="og:title" content="{{appName}}" />
 <meta property="og:description" content="{{appOGDescription}}" />
 <meta property="og:type" content="website" />
 <meta property="og:url" content="{{appUrl}}/" />
 {{# appOGImage}}
 <meta property="og:image" content="{{appUrl}}/{{path}}" >
 
 {{/appOGImage}}
 