<div class="logo-hold">
  {{#widgets}}
    {{#partners}}
      {{#data}}
        <div class="logo {{id}}">
          <a href="{{url}}"><img src="{{../../../appUrl}}/{{logo}}" title="{{name}}" alt="{{name}}"></a>
        </div>
      {{/data}}
    {{/partners}}
  {{/widgets}}
</div>
