<div class="logo-hold">
  <h1>This is another test</h1>
  <h1>{{title}}</h1>
  {{#partners}}
    <div class="logo {{id}}"><a href="{{url}}"><img src="{{appUrl}}/{{logo}}" alt="" title="{{name}}"></a></div>
  {{/partners}}
</div>