{{#recentlyAddedTitles}}
<article>
 {{#data}}
      {{#response}}
        {{#docs}}
          <div class="itemhome">
             <div class="thumbs"><a href="{{appRoot}}/book/{{ss_identifer}}"><img class="img-responsive" src="{{ss_representative_image}}" alt="" title="{{title}}"/></a></div>
             <div class="meta">
             <div class="title"><a href="{{appUrl}}/book/{{ss_identifer}}">{{sm_field_title}}</a></div>
             <div class="subjects">{{sm_vid_Terms}}</div></div>
             <hr> 
          </div> 
        {{/docs}}
      {{/response}}
    {{/data}}
</article>
{{/recentlyAddedTitles}}