{{#recentlyAddedTitles}}
<ul>
  <li>
    <h4>{{title}}</h4>
    <ul class="subjectList">
    {{#data}}
      {{#response}}
        {{#docs}}
          <li><a href="{{appUrl}}/book/{{ss_identifer}}">{{sm_field_title}}</a></li>
        {{/docs}}
      {{/response}}
    {{/data}}
    </ul>
  </li>
</ul>
{{/recentlyAddedTitles}}