<ul>
  <li>
    <h4>{{title}}</h4>
    <ul class="widget subjectList" data-language="{{language_code}}" data-name="items" data-lazyLoad="0" data-rows="5" data-paginator="0" data-script='{ "js" : [ "items.min.js" ], "hbs" : [ { "items" : "recentlyAdded.hbs" }, { "paginator" : "paginator.hbs" } ] }'></ul>
  </li>
</ul>