<!doctype html>
<html>
<head>{{> head }}</head>
<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" class="{{bodyClass}}">
	{{> header }}
	<div class="main container-fluid">
		<div class="breadcrumbs" lang="en"><a href="{{ appUrl }}" title="{{ appName }}">{{ appName }}</a> &gt; {{ title }}</div>
		
		<h2>{{ title }}</h2>
		<div class="page-content">
				<div class="col-l">
			<p>Flat informational page. Suspendisse lobortis, tellus id congue laoreet, dui metus fringilla neque, non lobortis arcu ante in nibh. Curabitur rhoncus sit amet sem et euismod.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper massa at nunc pretium rhoncus. Quisque vitae bibendum nibh. Mauris eget tellus dignissim, malesuada sapien nec, pellentesque tellus. Duis magna dui, tempor sit amet fermentum non, ullamcorper vitae purus. Sed hendrerit eu urna nec cursus. Aenean sagittis odio nec felis aliquam dignissim. Nullam dictum blandit augue, eu vestibulum diam molestie vitae. Morbi aliquam imperdiet eleifend. Aenean vel enim vel turpis sollicitudin ultrices.</p>
				</div>
			<div class="col-r">
				<p>
			Suspendisse lobortis, tellus id congue laoreet, dui metus fringilla neque, non lobortis arcu ante in nibh. Curabitur rhoncus sit amet sem et euismod. Curabitur velit massa, placerat ut pulvinar eget, varius at neque. Vivamus eu augue velit. Mauris leo metus, pharetra ac sapien et, suscipit semper tortor.  Curabitur velit massa, placerat ut pulvinar eget, varius at neque. Vivamus eu augue velit. Mauris leo metus, pharetra ac sapien et, suscipit semper tortor.Curabitur velit massa, placerat ut pulvinar eget, varius at neque. Vivamus eu augue velit. Mauris leo metus, pharetra ac sapien et, suscipit semper tortor.Curabitur velit massa, placerat ut pulvinar eget, varius at neque. Vivamus eu augue velit. Mauris leo metus, pharetra ac sapien et, suscipit semper tortor.</p>
		</div></div>
	</div>
	{{> footer }}
</body>
</html>