<!doctype html>
<html>
<head>{{> head }}</head>
<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" class="{{bodyClass}}">
  {{> header }}
  <main class="main container-fluid">
    {{#title}}
    <h2  class="page-title" lang="{{language_code}}" dir="{{language_dir}}">{{{html}}}</h2>
    {{/title}}

    {{#content}}
    <div class="page-content">    
      {{#main}}
      <div class="{{class}}" lang="{{language_code}}" dir="{{language_dir}}">{{{html}}}</div>
      {{/main}}
    </div>
    {{/content}}
  </main>
  {{> footer }}
</body>
</html>