<div class="search_holder widget navbar-form navbar-right" data-name="search_form" data-script='{ "js" : [ "search_form.min.js" ] }'>
	<form class="simple" method="get" action="{{ appUrl }}/search" role="search">
		<input name="q" type="text" placeholder="search  /  ابحث" title="Enter the terms you wish to search for.">
		<input type="submit" class="submit-search">
	</form>
</div>