<!doctype html>
<html>
<head>{{> head }}</head>
<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" class="{{ bodyClass }}">
  {{> header }}
  <main class="main container-fluid" role="main">
    <header>
      {{#title}}
        <h2  class="page-title" lang="{{language_code}}" dir="{{language_dir}}">{{{html}}}</h2>
      {{/title}}
      <select id="browse-select">
        <option value="ss_longlabel"> Title in English / انجليزي نجليزينجليزي</option>
        <option value="ss_ar_title">Title in Arabic / عربي</option>
        <option value="ss_sauthor">Author / المؤلف</option>
        <option value="score" selected>Sort by relevance/ فرز حسب</option>
      </select>
      <div class="resultsnum">Showing  <span class="start"></span> - <span class="docslength"></span> of <span class="numfound"></span> results for <span class="s-query"></span></div>
    </header>
    <div 
      class="widget" 
      data-name="items"
      data-rows="10"
      data-script='{ "js" : [ "search.min.js" ], "hbs" : [ { "template" : "items.hbs", "id" : "items" } ] }'
    ></div>
    <div class="text-center">
      <div id="paginator" class="pagination"></div>
    </div>
  </main>
  {{> footer }}
  {{{ closure }}}
</body>
</html>