<div class="col-l" lang="en" dir="ltr">
  <h3>Search tips in Arabic transliteration</h3>
<ul>
<li>Searches you perform on this site will query only the descriptive information about each book, both in English and Arabic, but not the full texts of the books. As searching technologies for Arabic develop, we intend to introduce full-text searching.</li>
<li>Books in multi-volume works appear as separate search results. In the book viewer, click on “view related titles” to read the other volumes.</li>
<li>Click on hyper-linked metadata to find other books in the same category.</li>
<li>Transliteration (for consonants) usually follows the <a href="https://www.loc.gov/catdir/cpso/romanization/arabic.pdf">LOC transliteration system</a>.</li>
<li>Pronunciation follows Modern Standard Arabic (fuṣḥá).</li>
<li>Diacritical vowels are equivalent to normal characters, i.e. Ḥajjāj = Hajjaj.</li>
<li>Try searching places by different transliterations, i.e. Cairo, Qahira, Qahirah, Tehran, Tihran.</li>
<li>Try searching places in English, French, or transliteration, i.e. Egypt, Egypte, Misr.</li>
<li>Try searching subject terms in English, French, or transliteration, i.e. philosophy, philosophie, falsafah.</li>
<li>Try searching names with or without the definite article “Al-“.</li>
<li>Diacritics on the last letter of a word are not included, i.e. search for al-Kabir not al-Kabiru.</li>
<li>Feminine possessive suffix appears as -iyah and not as -iyyah, i.e. search for Hanafiyah.</li>
<li>Tanwīn al-Fatḥ is written in transliteration as -an, i.e. search for khassatan.</li>
<li>Tāʼ Marbūṭah is written as -h for single nouns and -t in cases of al-Iḍāfah (compound nouns).
<li>Click on hyper-linked metadata to find other books in the same category.</li></ul>
</div>
<div class="col-r" lang="ar" dir="rtl">
<h3>إرشادات للبحث لدى استخدام الترجمة الصوتية بالحروف اللاتينية</h3>
<p>إن عملية البحث التي تجريها في هذا الموقع تعطي وصف ببليوغرافي عن الكتاب المسترجع باللغتين العربية والانجليزية
ولكنها لا تقدّم إمكانية البحث بالنص الكامل.  سنقوم بتوفير هذا البحث عندما تتطوّر إمكانية استخدام تقنيّة التعرّف الضوئي على المحارف باللغة العربية في النصوص المرقمنة للكتب العربية</p>
<p >العنا وين المتعددة الأجزاء تظهر في نتائج البحث منفصلة</p>
<p>اضغط على “شاهد العناوين المتعلقة” لتقرأ بقية الأجزاء</p>
<p>اضغط على الروابط لمزيد من الكتب في نفس الفئة</p>
<p> الترجمة الصوتية بالحروف اللاتينية تتبع <a href="https://www.loc.gov/catdir/cpso/romanization/arabic.pdf">نظام مكتبة الكونجر</a>س</p>
<p>النطق يتبع العربية الفصحى لدى الترجمة الصوتية</p>
<p >لدى الترجمة الصوتية تتساوى حروف العلّة بتشكيل وبدونه</p>
<p>حاول البحث عن مكان النشر باستخدام طرق مختلفة من 
الترجمة الصوتية.</p>
<p >حاول البحث عن مكان النشر باللغة الفرنسية أو باللغة الإنجليزية.</p>
<p>حاول البحث عن الموضوع باستخدام طرق مختلفة من
  الترجمة الصوتية أو باللغة الفرنسية أو باللغة الإنجليزية</p>
<p>حاول البحث باستخدام ال- التعريف أو بدونها</p>
<p>لا تستعمل الحركة على الحرف الأخير من الكلمة في </p>
<p>الترجمة الصوتية</p>
</div>