<div class="widget" data-name="search_form" data-script='{ "js" : [ "search_form.min.js" ] }'>
  <h2>Search books</h2>
  <form method="get" action="{{ appUrl }}/search">
    <input type="text" placeholder="{{placeholder}}" value="">
    <button type="submit">Search</button>
  </form>
</div>