<div class="col-l" lang="en" dir="ltr">
  <h3>Search Tips</h3>
  Searches you perform on this site will query only the descriptive information about each book, both in English and Arabic, but not the full texts of the books. As searching technologies for Arabic develop, we intend to introduce full-text searching.
</div>
<div class="col-r" lang="ar" dir="rtl">
  <p>عذراً، لا توجد نتائج.</p>
 
</div>