<div class="search_holder_advanced widget" data-name="search_form" data-script='{ "js" : [ "search_form_adv.min.js" ] }'>
    <form class="advanced" method="get" action="{{ appUrl }}/search" role="search">
        <fieldset class="group1">
            <select class="field-select">
                <option value="q">Any Field </option>
                <option value="title">Title / العنوان بالعربية</option>
                <option value="author">Author / المؤلف بالعربية</option>
                <option value="publisher">Publisher</option>
                <option value="provider">Provider</option>
            </select>
            <select class="scope-select">
                <option data-sort-dir="asc" value="contains">Contains</option>
                <option data-sort-dir="asc" value="equals">Equals</option>
                <option data-sort-dir="asc" value="doesnotequal">Does not equal </option>
                <option data-sort-dir="asc" value="doesnotcontain">Does not contain</option>
            </select>
            <input class="q1" type="text" placeholder="search  /  ابحث" title="Enter the terms you wish to search for.">
        </fieldset>
        <fieldset class="group2">
            <select class="field-select">
                <option value="any">Any Field </option>
                <option value="title">Title / العنوان بالعربية</option>
                <option value="author">Author / المؤلف بالعربية</option>
                <option value="publisher">Publisher</option>
                <option value="provider">Provider</option>
            </select>
            <select class="scope-select">
                <option data-sort-dir="asc" value="contains">Contains</option>
                <option data-sort-dir="asc" value="equals">Equals</option>
                <option data-sort-dir="asc" value="doesnotequal">Does not equal </option>
                <option data-sort-dir="asc" value="doesnotcontain">Does not contain</option>
            </select>
            <input name="q" type="text" placeholder="search  /  ابحث" title="Enter the terms you wish to search for.">
        </fieldset>
        <input type="submit" class="submit-search">
    </form>
</div>