<div class="nav_search_holder widget navbar-form navbar-right" data-name="search_form" data-script='{ "js" : [ "search_form.min.js" ] }'>
	<form method="get" action="{{ appUrl }}/search" role="search">
		<input type="submit" class="submit-search" >
		<input type="text" placeholder="search  /  علىعلى" title="Enter the terms you wish to search for." class="pure-input" >
	</form>
</div>