{{#content}}
  {{#subjectCount}}
    {{#subjectCount}}{{#data}}
			{{#facet_counts}} 
				{{#facet_fields}}
					{{#im_field_subject}}
						{{#if @last}}{{@key}}{{/if}}
					{{/im_field_subject}}
				{{/facet_fields}} 
			{{/facet_counts}} 
		{{/data}}{{/subjectCount}}
  {{/subjectCount}}
{{/content}}




