<!doctype html>
<html>
  <head>{{> head }}</head>
  <body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}"  class="{{bodyClass}}">
    {{> header }}
	<main class="main container-fluid" role="main">
	  <header>
	    <h2>{{title}}</h2>
	  </header>
      {{#content}}
        {{#body}}
          {{#widgets}}
            {{#subjects}}
              <ul>
                {{#data}}
                  <li><a href="{{ appUrl }}/subject?tid={{tid}}">{{term}}</a></li>
                {{/data}}
              </ul>
            {{/subjects}}
          {{/widgets}}
        {{/body}}
      {{/content}}
    </main>
    {{> footer }}
  </body>
</html>