<!doctype html>
<html>
  <head>{{> head }}</head>
  <body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}"  class="{{bodyClass}}">
    {{> header }}
	<main class="main container-fluid">
	  <header>
        <h2><span class="subjectlabel">{{ title }}:</span> <div class="subjectname"> </div></h2>
        <nav class="navbar subcat-nav" role="navigation">
          <ul class="nav navbar-nav">
            <li><h3>Subcategories:</h3></li>
            <li ><a href="{{ appUrl }}/subject/hadith">All</a></li>
            <li><a href="{{ appUrl }}/subject/hadith/dictionaries">Dictionaries</a></li>
            <li><a href="{{ appUrl }}/subject/hadith/bukhari">Bukhari</a></li>
          </ul>
        </nav>
        {{> browseSelect }}
      </header>
      {{#content}}
        {{#body}}
          {{#widgets}}
            {{> subjects }}
          {{/widgets}}
        {{/body}}
      {{/content}}
    </main>
    {{> footer }}
  </body>
</html>